{% load blog_tags %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Блог о интересном</title>
</head>
  <body>
    <div class="container">
<!-- Nav bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Главная</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Категории
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'categories' %}">Все категории</a></li>
                  <li><a class="dropdown-item" href="{% url 'category-add' %}">Добавить категорию</a></li>
                </ul>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'post-add' %}">Добавить статью</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if not user.profile.id %}
                        <li><a class="dropdown-item" href="{% url 'user-profile-create' %}">Создать профиль</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'user-profile' slug=user.profile.slug %}">Мой профиль</a></li>
                        {% endif %}
                      <li><a class="dropdown-item" href="{% url 'change-password' %}">Изменить пароль</a></li>
                        {% if user.profile.id %}
                      <li><a class="dropdown-item" href="{% url 'user-profile-update' slug=user.profile.slug %}">Редактировать профиль</a></li>
                        {% endif %}
                      <li><a class="dropdown-item" href="{% url 'edit-user' %}">Редактировать пользователя</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </li>
               {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
                </li>
               {% endif %}
            </ul>
            <form class="d-flex" method="post" action="{% url 'post-search' %}">
                {% csrf_token %}
              <input name="searched" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
              <button class="btn btn-light" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </nav>
      <br>
<!--      -->
      <div class="row align-items-start">
        <div class="col-3">
<!-- Левая панель -->
          <div class="list-group">
            <h5 >Навигация:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a href="" class="link-dark">Добавлены недавно</a>
              </li>
              <li class="list-group-item">Добавлены давно</li>
              <li class="list-group-item">Мои статьи</li>
              <li class="list-group-item"></li>
            </ul>
              <br>
            <h5>Категории:</h5>
            <ul class="list-group list-group-flush">
              {% show_categories cat_selected %}
            </ul>
          </div>
        </div>
<!-- Основное поле -->
        <div class="col">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  </body>
</html>