{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated and user.is_staff %}

    <h3>Удалить категорию?!</h3>
    <p>{{ object.title }}</p>
    <hr>
    <p>Посты из удаленной категории будут перемещены в категорию "Разное"</p>
    <div class="row row-cols-auto">
        <div class="col">
            <a onclick="javascript:history.back(); return false;" class="btn btn-dark bg-gradient">Не удалять</a>
        </div>
        <div class="col">
            <form method="post" >
                {% csrf_token %}
            <button class="btn btn-danger">Удалить!</button>
            </form>
        </div>
    </div>

    {% else %}
        Только администраторы сайта могут удалять категории.
    {% endif %}

{% endblock %}
