{% extends 'blog/paginator.html' %}

{% block subcontent %}
    {% if cat_selected == 'user' %}
        <h3>Записи пользователя {{ user.username }}</h3>
    {% else %}
        {% if cat_selected == 'all-categories' %}
            <h3>Все статьи</h3>
        {% else %}
            {% if object_list %}
                <h3>Статьи в категории "{{ object_list.0.cat__title }}"</h3>
            {% else %}
                <h3>В даной категории еще нет статей</h3>
            {% endif %}
        {% endif %}
    {% endif %}

    {% for post in object_list %}
          <a href="{% url 'posts-by-category' slug=post.cat__slug %}" class="link-secondary">{{ post.cat__title }}:</a>
          <a href="{% url 'post-detail' slug=post.slug %}" class="link-dark">{{ post.title }}</a>
            - {{ post.user__username }}, {{ post.time_created|date:"d.m.Y H:m" }}.
          <p>
              {{ post.body|striptags|truncatewords:24 }}
              <a href="{% url 'post-detail' slug=post.slug %}" class="link-secondary">читать</a>
          </p>
        <hr>
    {% endfor %}

{% endblock %}
