{% extends 'blog/base.html' %}

{% block content %}
    {% if cat_selected == 'user' %}
        <h3>Записи пользователя {{ user.username }}</h3>
    {% else %}
        {% if cat_selected == 'all-categories' %}
            <h3>Все статьи</h3>
        {% else %}
            {% if object_list %}
            <h3>Статьи в категории "{{ object_list.0.cat__title }}"</h3>
            {% else %}
            <h3>В даной категории еще нет статей</h3>
            {% endif %}
        {% endif %}
    {% endif %}

        {% for post in object_list %}
              <a href="{% url 'posts-by-category' slug=post.cat__slug %}" class="link-secondary">{{ post.cat__title }}:</a>
              <a href="{% url 'post-detail' slug=post.slug %}" class="link-dark">{{ post.title }}</a>
                - {{ post.user__username }}, {{ post.time_created|date:"d.m.Y H:m" }}.
              <p>
                  {{ post.body|striptags|truncatewords:24 }}
                  <a href="{% url 'post-detail' slug=post.slug %}" class="link-secondary">читать</a>
              </p>
            <hr>
        {% endfor %}

    {% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="btn btn-dark bg-gradient" href="?page=1">&laquo; Первая</a></li>
            <li class="page-item"><a class="btn btn-dark bg-gradient" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item disabled"><a class="btn btn-dark bg-gradient disabled" href="">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="btn btn-dark bg-gradient" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="btn btn-dark bg-gradient" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

{% endblock %}
