{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated and user.pk == post.user.pk %}

    <h1>Обновить статью</h1>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        <a onclick="javascript:history.back(); return false;" class="btn btn-dark bg-gradient">Не обновлять</a>
        <button class="btn btn-secondary bg-gradient">Обновить</button>
        </form>
    </div>


    {% else %}
        Авторизуйтесь для обновления статьи
    {% endif %}

{% endblock %}
