{% extends 'blog/base.html' %}

{% block content %}
    <h3>{{ object.title }}</h3>
    <p>{{ post.body|safe }}</p>
    <hr>
    <p>
        {{ object.user }}, {{ post.time_created|date:"d.m.Y H:m" }}.
        <a href="{% url 'post-update' slug=post.slug %}" class="link-primary">Правка</a>
        <a href="{% url 'post-delete' slug=post.slug %}" class="link-danger">Удалить</a>
    </p>
    <a onclick="javascript:history.back(); return false;" class="btn btn-dark bg-gradient">На предыдущую</a>
{% endblock %}
