{% extends 'blog/paginator.html' %}

{% block subcontent %}
    <h3>Вы искали: {{ search_key }}</h3>

    {% for post in object_list %}
          <a href="{% url 'posts-by-category' slug=post.cat__slug %}" class="link-secondary">{{ post.cat__title }}:</a>
          <a href="{% url 'post-detail' slug=post.slug %}" class="link-dark">{{ post.title }}</a>
            - {{ post.user__username }}, {{ post.time_created|date:"d.m.Y H:m" }}.
          <p>
              {{ post.body|striptags|truncatewords:24 }}
              <a href="{% url 'post-detail' slug=post.slug %}" class="link-secondary">читать</a>
          </p>
        <hr>
    {% endfor %}

{% endblock %}
