{% extends 'blog/base.html' %}

{% block content %}
    <h1>Смена пароля</h1>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

        <ul>
            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
            <li>Пароль не должен быть слишком простым и распространенным.</li>
            <li>Пароль не может состоять только из цифр.</li>
        </ul>

        <a href="{% url 'home' %}" class="btn btn-dark bg-gradient">Не менять</a>
        <button class="btn btn-secondary bg-gradient">Изменить пароль</button>
        </form>
    </div>

{% endblock %}