{% extends 'blog/base.html' %}

{% block content %}
    <h3>Восстановление пароля</h3>
    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
    <div class="form-group">
        <form action="." method="post">
            {% csrf_token %}
<!--            {{ form.as_p }}-->
            <div class="mb-3">
                <label class="form-label" for="id_email">Адрес электронной почты:</label>
                <input class="form-control"  type="email" name="email" autocomplete="email" required="" id="id_email">
            </div>
            <p><input class="btn btn-dark bg-gradient" type="submit" value="Восстановить мой пароль"></p>
        </form>
    </div>
{% endblock %}