{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <h3>Профиль пользователя</h3>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
            {% if object.image %}
                <img src="{% static object.image %}" class="img-fluid rounded-start">
            {% else %}
                <img src="{% static 'members/images/default.jpg' %}" class="img-fluid rounded-start">
            {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ object.user__first_name }} {{ object.user__last_name }}</h5>
              <p class="card-text"><small class="text-muted">
                  {% if object.website_url %}
                    <a href="{{ object.website_url }}" target="_blank">Website</a>
                  {% endif %}
                  {% if object.git_url %}
                    | <a href="{{ object.git_url }}" target="_blank">Git</a>
                  {% endif %}
                  {% if object.ya_url %}
                    | <a href="{{ object.ya_url }}" target="_blank">Яндекс</a>
                  {% endif %}
                  {% if object.vk_url %}
                    | <a href="{{ object.vk_url }}" target="_blank">ВКонтакте</a>
                  {% endif %}
                  {% if object.ok_url %}
                    | <a href="{{ object.ok_url }}" target="_blank">Одноклассники</a>
                  {% endif %}
              </small></p>
              <p class="card-text">{{ object.bio }}</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}